<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold mb-4">Registros del día {{ fecha }}</h1>

  <!-- Loading spinner -->
  <div *ngIf="loading" class="text-center py-4">
    <div class="inline-block animate-spin rounded-full h-8 w-8 border-b-2 border-gray-900"></div>
  </div>

  <!-- Error message -->
  <div *ngIf="error" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4">
    {{ error }}
  </div>

  <div *ngIf="!loading && !error">
    <div *ngIf="registros.length > 0; else noRecords" class="mt-6">
      <table class="min-w-full bg-white">
        <thead>
          <tr>
            <th class="py-2 px-4 border-b">ID</th>
            <th class="py-2 px-4 border-b">Nombre del Usuario</th>
            <th class="py-2 px-4 border-b">Descripción</th>
            <th class="py-2 px-4 border-b">img antes</th>
            <th class="py-2 px-4 border-b">img después</th>
            <th class="py-2 px-4 border-b">Fecha</th>
            <th class="py-2 px-4 border-b">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let registro of registros">
            <td class="py-2 px-4 border-b">{{ registro.id }}</td>
            <td class="py-2 px-4 border-b">{{ registro.usuarioNombre }}</td>
            <td class="py-2 px-4 border-b">{{ registro.description }}</td>
            <td class="py-2 px-4 border-b">
              <img [src]="registro?.image_before" alt="Imagen antes" class="max-w-xs">
            </td>
            <td class="py-2 px-4 border-b">
              <img [src]="registro?.image_after" alt="Imagen después" class="max-w-xs">
            </td>
            <td class="py-2 px-4 border-b">{{ registro.fecha | date:'dd/MM/yyyy' }}</td>
            <td>
              <button  class="icono-boton text-center" (click)="abrirFormEditar(registro.id)">
                <i class="fas fa-pencil"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <button
    (click)="generatePPTX()"
    class="mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
  >
    Generar PPTX
  </button>

  </div>

  <ng-template #noRecords>
    <p class="text-gray-500 text-center">No hay registros para esta fecha.</p>
  </ng-template>
</div>

