<h1 class="text-center">Calendario de Fechas</h1>

<!-- Botones de los meses -->
<div class="meses-container">
  <button
    *ngFor="let mes of meses; index as i"
    (click)="generarFechasDelMes(i)"
    class="mes-boton">
    {{ mes }}
  </button>
</div>

<div class="fechas-container" *ngIf="diasDelMes.length > 0">
  <h2 class="mes-seleccionado">Fechas de {{ mesSeleccionado }}</h2>



  <div class="dias-column">
    <div
      *ngFor="let dia of diasDelMes"
      class="dia-item"
      [class.deshabilitado]="fechaPasada(dia)"
      (click)="!fechaPasada(dia) && abrirFormulario(dia)"> <!-- Bloquear clic si está pasada -->
      <span>{{ dia }}</span>
      <div class="iconos">

        <button
        (click)="verDetalles(dia)"
        class="icono-boton"
        [disabled]="fechaPasada(dia)"> <!-- Botón de detalles bloqueado -->
        <i class="fas fa-eye"></i>
      </button>
      </div>
    </div>
  </div>
</div>
