<h1>Calendario de Fechas</h1>

<!-- Botones de los meses -->
<div class="meses-container">
  <button
    *ngFor="let mes of meses; index as i"
    (click)="generarFechasDelMes(i)"
    class="mes-boton">
    {{ mes }}
  </button>
</div>

<!-- Fechas del mes seleccionado -->
<div class="fechas-container" *ngIf="diasDelMes.length > 0">
  <h2 class="mes-seleccionado">Fechas de {{ mesSeleccionado }}</h2>
  <div class="dias-column">
    <div *ngFor="let dia of diasDelMes" class="dia-item" (click)="abrirFormulario()">
      {{ dia }}
    </div>
  </div>
</div>
